@import '../../Reference.scss';

.restaurantCard {
    // border: 1.2px solid $tertiaryColor;
    width: 90vw;
    height: auto;
    // background-color: skyblue;
    text-align: left;
    display: grid;
    grid-template: 50px 140px 50px 4px 50px 50px / 10% 4% 56% 30% ;
    grid-template-areas: "id id img img"
                         "accentcol blank img img"
                         "title title title cuisine"
                         "accentbar accentbar accentbar price"
                         "description description description price"
                         "description description description cta";
    img {
        grid-area: img;
        margin-left: auto;
        max-width: 95%;
        max-height: 100%;
        padding: 0;
        width: auto;
    }
    h2 {
        grid-area: id;
        // background-color: yellow;
        border-bottom: 1.2px solid $tertiaryColor;
    }
    h3 {
        padding: 5px;
        grid-area: title;
        // background-color: lime;
        color: $secondaryColor;
    }
    p {
        // background-color: goldenrod;
        font-size: .8rem;
        padding: 5px;
        margin: 0;
        grid-area: description;
    }
    .blank {
        grid-area: blank;
        background-color: $secondaryColor;
    }
    .accentcol {
        grid-area: accentcol;
        background-color: $secondaryColor;
    }
    .accentbar {
        grid-area: accentbar;
        background-color: $secondaryColor;
    }
    .cuisine, .price, .cta {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cuisine {
        grid-area: cuisine;
        // background-color: rgb(103, 255, 255);
        border-left: 1.2px solid $tertiaryColor;
    }
    .price {
        grid-area: price;
        // background-color: darkslategray;
        border-left: 1.2px solid $tertiaryColor;
    }
    .cta {
        background-color: $secondaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: cta;
    }
}