@import '../../Reference.scss';
@import '../../Resources/hamburgers/hamburgers.scss';

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    font-size: 2rem;
    width: 50px;
    background-color: $secondaryColor;
    list-style-type: none;
    cursor: pointer;
    z-index: 9;
    @include flex();
}

