@import '../../Reference.scss';

#Restaurants {
    grid-area: main;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px 5px;
}
