$primaryColor: rgb(240, 240, 240);
$secondaryColor: rgba(240,10,10,0.8);
$tertiaryColor: lightskyblue;
$textColor: rgba(20,20,20,1);

@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');