@import '../../Reference.scss';

#nav {
    position: sticky;
    display: inline-flex;
    justify-items: center;
    grid-area: nav;
    background-color: $primaryColor;
    img {
        margin: auto;
        height: 45px;
        width: 45px;
    }
}